table {
    width: 100%;

    border-radius: 1.5rem;
    overflow: hidden;
}
.titleTable tr th{
    color: var(--color-white);
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: bold;
    
    border-bottom: 1px solid var(--border-table);

    padding: 1rem 0;
}

.bodyTable tr td {
    color: var(--color-white);
    border-bottom: 1px solid var(--border-table);
    font-size: clamp(.5rem, 3vw, 2rem);
    
    padding: .5rem;

    text-transform: capitalize;
}

.bodyTable tr td:last-child {
    padding: .5rem;
}
.colLight {
    background-color: var(--bg-colLight);
}
.colDark {
    background-color: var(--bg-colDark);
}

/*Button*/
.delete {
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-redButton);
    
    border: none;
    border-radius: 30%;

    width: clamp(1rem, 4vw, 3rem);
    height: clamp(1rem, 4vw, 3rem);
    
    color: var(--color-white);
    font-size: clamp(0.5rem, 2vw, 2rem);
    font-weight: bold;
    text-align: center;
    
    transition: .2s;

    cursor: pointer;
}
.delete:hover {
    background-color: var(--bg-redButton-hover);
}

@media (min-width: 768px){
    .titleTable tr th{
        font-size: 2rem;
        padding: 1rem 0;
    }
    .bodyTable tr td {
        font-size: 1.8rem;
        padding: 1rem;
    }
    .bodyTable tr td:last-child {
        padding: 2rem;
    }
    .delete {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
    }
}